html,
body {
  height: 100%;
  overflow: hidden;
  color: #000;
}

a,
a:hover,
a:active {
  color: #000;
}

.form-control {
    color: #000;
}

.user-mention-here {
  cursor: pointer;
}

.container-fluid {
  height: 100%;
}

.col-full-height .panel {
  height: 95%;
  margin: 0;
  position: relative;
}

.col-full-height .panel-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.panel-body {
  padding: 0;
}

.panel-body > ul {
  padding: 10px 15px;
}

#head-logo {  }
#head-logo img { border-radius: 3px; width: 30px; height: 30px; margin-top: -4px; margin-left: -3px; box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1); }
#head-logo b { margin-left: 10px; font-weight: normal; }

#chatWindow .media-left,
#onlineList .media-left {
  padding-right: 7px;
}

#onlineList {
  position: relative;
  overflow-y: auto;
  margin: 0;
}

#onlineList .media {
  overflow: hidden;
}

#onlineList .media.me {
  font-weight: bold;
}

#chatWindow {
  position: relative;
  overflow-y: auto;
  margin: 0;
  padding: 10px 0;
}

#chatWindow li {
  padding: 6px 15px;
  margin-top: 0;
}

#chatWindow .message .timestamp {
  color: #aaa;
  font-size: 12px;
  line-height: 24px;
}

#chatWindow .message.reply {
  background-color: #f3f3f3;
}

#chatWindow .media .media-body {
  line-height: 20px;
  padding-top: 3px;
  word-wrap: break-word;
  word-break: break-word;
}

#chatWindow .media .media-body a:hover {
  border-bottom: 1px solid #000;
}

#chatWindow .media .media-body a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

#chatWindow .media .media-body .media-user-name {
  font-weight: 600;
}

#chatWindow .media .media-object {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

#chatWindow .typing .media-body {
  color: #aaa;
}

#chatWindow li.log {
  color: #aaa;
  text-align: center;
  overflow: hidden;
  zoom: 1;
}

#chatWindow li.command-response {
  color: #aaa;
  overflow: hidden;
  zoom: 1;
}

#chatWindow li:last-of-type {
  margin-bottom: 10px;
}

#messageInput {
  font-size: 14px;
  line-height: 18px;
}

#notifications-panel:hover {
  background-image: linear-gradient(to bottom, #ebebeb 0px, #dedede 100%);
  background-repeat: repeat-x;
}

#messageSubmitButton {
    outline: none;
}

#notifications-panel .pull-left { margin-left: 3px; margin-top: 1px; }
#notifications-panel #notifications-status { margin-left: 10px; }

#online-panel .pull-left { margin-left: 4px; }
#online-panel .onlineCount { margin-left: 11px; }

#users-panel .media-object {
  width: 20px;
  height: 20px;
}

.larger #chatWindow .media-body {
  font-size: 16px;
  line-height: 24px;
}

.larger #chatWindow .message .media-object {
  width: 24px;
  height: 24px;
}

.larger #chatWindow .media .timestamp {
  font-size: 14px;
  line-height: 28px;
  position: relative;
  top: 2px;
}

.larger #chatWindow li.log {
  font-size: 16px;
  line-height: 24px;
}

/* ------------------------------------------------------ */

.lineIndicator {
  background: #cdeb8e;
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
  width: 10px;
  height: 10px;
  display: block;
  top: 5px;
  position: relative;
  border-radius: 50%;
}

.lineIndicator.offline {
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
}

.lineIndicator.connecting {
  background: #f1e767;
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e767), color-stop(100%, #feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -o-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -ms-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}

.bell-online {
  color: #a5c956;
}

.bell-offline {
  color: #aaa;
}

/* ------------------------------------------------------ */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */

  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

.scroll,
.scroll-y,
.scroll-x {
  -webkit-overflow-scrolling: touch;
}

.scroll > *,
.scroll-y > *,
.scroll-x > * {
  -webkit-transform: translateZ(0);
}

.scroll {
  overflow: auto;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}
