html,body {
    height:100%;
    overflow: hidden;
}
a, a:hover, a:active {
    color: #333;
}
.container-fluid {
    height:100%;
}
.col-full-height .panel {
    height: 95%;
    margin: 0;
}

.col-full-height .panel{
    position:relative;
}
.col-full-height .panel-footer{
    position:absolute;
    width:100%;
    bottom:0;
}

.panel-body {
    padding: 0;
}

.panel-body > ul {
    padding: 5px 15px;
}

#onlineList .media {
    overflow: hidden;
}

#onlineList .media.me {
    font-weight: bold;
}

#chatWindow {
    position: relative;
    overflow-y: auto;
    margin: 0;
}

#onlineList {
    position: relative;
    overflow-y: auto;
    margin: 0;
}

#chatWindow .media .timestamp {
    color: #aaa;
    font-size: 12px;
    line-height: 24px;
}

#chatWindow .media-body {
    line-height: 24px;
    word-wrap: break-word; word-break: break-word;
}

#chatWindow li.log {
    color: #aaa;
    text-align: center;

    margin-top: 15px;
    overflow: hidden;
    zoom: 1;
}

#chatWindow li.command-response {
    color: #aaa;

    margin-top: 15px;
    overflow: hidden;
    zoom: 1;
}

#chatWindow .media-body .media-user-name {
    font-weight: 600;
}

#chatWindow .typing .media-body {
    color: #aaa;
}

#chatWindow .media-body a{
  color: #337ab7;
}

#messageInput {
    font-size: 14px;
}


/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

.scroll, .scroll-y, .scroll-x {
    -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
    -webkit-transform : translateZ(0);
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }